@model SampleSite.Models.Pages.FrontPage

@{
    ViewBag.Title = Model.PageName;
    ViewBag.PageName = Model.PageName;
}

<header>
    <ul>
        @if (Model.SearchPage != null)
        {
            <li>
                <a href="@Url.PageUrl(Model.SearchPage.LinkURL)"> Search </a>  
            </li>
        }
        
        @if (Model.MainList != null)
        {
            <li>
                <a href="@Url.PageUrl(Model.MainList.LinkURL)"> Main List</a>
            </li>
        }
    </ul>
</header>

<nav>
    <ul>
    @foreach (var page in Model.Children.Where(x => x.IsAvailableInMenu && x.IsAvailableForCurrentUser))
    {
        <li>
            @Html.PageLink(page)
        </li>
    }
    </ul>
</nav>
