@using SampleSite.ContentModels.Pages
@using SampleSite.Models.Pages
@model SampleSite.ContentModels.Blocks.CarouselContent

@if (Model.CarouselRoot != null)
{
    foreach (var article in Model.CarouselRoot.Children.OfType<ArticlePage>().Where(x => x.IsAvailableForCurrentUser))
    {
        <article>
            <h2> @article.PageName </h2>
            <p>
                @article.Intro
            </p>
        </article>
    }
}