<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=LEVA-ZEN\SQLEXPRESS;Initial Catalog=dbSampleSite;Integrated Security=False;User ID=dbUserdbSampleSite;Password=15078j70@X;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>