<episerver.framework>
  <scanAssembly forceBinFolderScan="true" />
  <siteHostMapping>
    <siteHosts siteId="SampleSite">
      <add name="*" />
    </siteHosts>
  </siteHostMapping>
  <virtualRoles replacePrincipal="true">
    <providers>
      <add name="Administrators" type="EPiServer.Security.WindowsAdministratorsRole, EPiServer.Framework" />
      <add name="Everyone" type="EPiServer.Security.EveryoneRole, EPiServer.Framework" />
      <add name="Authenticated" type="EPiServer.Security.AuthenticatedRole, EPiServer.Framework" />
      <add name="Anonymous" type="EPiServer.Security.AnonymousRole, EPiServer.Framework" />
      <add name="PackagingAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      <add name="CmsAdmins" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebAdmins, Administrators" mode="Any" />
      <add name="CmsEditors" type="EPiServer.Security.MappedRole, EPiServer.Framework" roles="WebEditors" mode="Any" />
      <add name="Creator" type="EPiServer.Security.CreatorRole, EPiServer" />
    </providers>
  </virtualRoles>
  <geolocation defaultProvider="maxmind">
    <providers>
      <add name="maxmind" type="EPiServer.Personalization.Providers.MaxMind.GeolocationProvider, EPiServer.ApplicationModules" databaseFileName="C:\Program Files (x86)\EPiServer\Framework\7.0.859.1\Geolocation\GeoLiteCity.dat" />
    </providers>
  </geolocation>
  <virtualPathProviders>
    <clear />
    <add name="ProtectedAddons" virtualPath="~/EPiServer/" physicalPath="[appDataPath]\Modules" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add showInFileManager="true" virtualName="Page Files" virtualPath="~/PageFiles/" bypassAccessCheck="false" name="SitePageFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" indexingServiceCatalog="Web" useRouting="true" customFileSummary="~/FileSummary.config" />
    <add showInFileManager="true" virtualName="Global Files" virtualPath="~/Global/" bypassAccessCheck="false" name="SiteGlobalFiles" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" indexingServiceCatalog="Web" useRouting="true" customFileSummary="~/FileSummary.config" />
    <add showInFileManager="true" virtualName="Documents" virtualPath="~/Documents/" bypassAccessCheck="false" maxVersions="5" name="SiteDocuments" type="EPiServer.Web.Hosting.VirtualPathVersioningProvider, EPiServer" useRouting="true" customFileSummary="~/FileSummary.config" />
    <add name="App_Themes_Default" virtualPath="~/App_Themes/Default/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\App_Themes\Default" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" useRouting="true" />
    <add name="UI" virtualPath="~/EPiServer/CMS/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\UI\CMS" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add name="UtilFiles" virtualPath="~/Util/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\util" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
    <add name="WebServiceFiles" virtualPath="~/WebServices/" physicalPath="C:\Program Files (x86)\EPiServer\CMS\7.0.586.1\application\webservices" type="EPiServer.Web.Hosting.VirtualPathNonUnifiedProvider, EPiServer.Framework" />
  </virtualPathProviders>
  <appData basePath="..\AppData" />
</episerver.framework>