@model SampleSite.Models.Pages.ArticlePage

@{
    ViewBag.Title = Model.PageName;
    ViewBag.PageName = Model.PageName;
}

<h2> @Model.Heading </h2>

<nav>
    <a href="@Url.PageUrl(Model.Parent.LinkURL)"> Parent </a>
</nav>

<p>
    @Model.Intro
</p>

@Html.XhtmlString(Model.Body)