<connectionStrings>
  <clear />
  <add name="EPiServerDB" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=EPiProperties.SampleSite75;Integrated Security=False;User ID=dbUserdbSampleSite75;Password=0W!2529l26;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
</connectionStrings>